@import "../utilities/index.scss";

.button {
  @include flex-content(column, center, center);
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}