@import "../utilities/index.scss";

.circular-progress {
  width: 120px;
  cursor: pointer;
  @include flex-content(column, center, center, 10px);
  
  .container-circle{
    position: relative;
    @include flex-content(column, center, center);
    .icon {
      position: absolute;
      @include flex-content(column, center, center);
      @include box(50px, 50px);
    }
    .circle {
      transform: rotate(-90deg);
      @include box(90px, 90px);
    }
  
    .circle-background {
      fill: none;
      stroke-width: 8;
    }
  
    .circle-progress {
      fill: none;
      stroke-width: 8;
      stroke-linecap: butt;
      transition: stroke-dashoffset 3s ease;
    }
  }

  &:hover{
    
  }

  .percentage {
    font-size: 16px;
  }
}
