@import "../utilities/index.scss";
.container_sidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .left_bar {
    width: 50%;
    height: 100%;
    left: -46%;
    position: relative;
    background: url("../../../public/assets/Vector\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;

    animation-name: open_left_bar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    

    .left_bar_text {
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      padding-top: 5%;
      padding-left: 5%;
      color: white;
      gap: calc(10%);
      p {
        font-size: 24px;
        font-family: $SpaceModo_Bold;
      }

      .sidebar_left_titles {
        .sidebar_subtitle {
          font-family: $SpaceModo_Regular;
        }
      }

      .sidebar_left_options {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .sidebar_option {
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }

  .left_bar_closed{
    @extend .left_bar;
    animation-name: close_left_bar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .right_bar {
    align-self: flex-end;
    width: 4%;
    height: 100%;
    position: relative;
    background: url("../../../public/assets/Vector\ 3.png");
    background-size: cover;
    background-repeat: no-repeat;

    animation-name: open_right_bar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    .right_bar_text {
      display: flex;
      height: 100%;
      width: 100%;
      color: white;
      padding-right: 5%;
      gap: 25px;
      position: absolute;
      text-align: right;
      flex-direction: column;
      justify-content: center;

      animation-name: open_right_bar_text;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      p {
        cursor: pointer;
        font-size: 20px;
        font-family: $SpaceModo_Bold;
      }
    }

    .right_bar_text_close{
      @extend .right_bar_text;
      animation-name: close_right_bar_text;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  .right_bar_closed{
    @extend .right_bar;
    animation-name: close_right_bar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .open_right_bar {
    position: absolute;
    right: 0%;
    width: 8%;
    height: 50%;
    z-index: 10;
  }
}

.first_status_container_sidebar {
  @extend .container_sidebar;
  .left_bar {
    animation: none;
  }

  .right_bar {
    animation: none;
    .right_bar_text {
      animation: none;
    }
  }
}

.no-animation {
  animation: none;
}
.reverse {
  animation-direction: "reverse";
}

@keyframes open_left_bar {
  0% {
    left: -46%;
  }
  100% {
    left: 0%;
  }
}

@keyframes open_right_bar {
  0% {
    width: 4%;
  }
  100% {
    width: 50%;
  }
}

@keyframes open_right_bar_text {
  0% {
    display: none;
    opacity: 0;
  }
  50%{
    display: none;
  }
  75%{
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes close_left_bar {
  0% {
    left: 0%;
  }
  100% {
    left: -46%;
  }
}

@keyframes close_right_bar {
  0% {
    width: 50%;
  }
  100% {
    width: 4%;
  }
}

@keyframes close_right_bar_text {
  0% {
    display: flex;
    opacity: 1;
  }
  50%{
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
