$open_left_bar: open_left_bar;
$open_right_bar: open_right_bar;
$open_right_bar_text: open_right_bar_text;
$close_left_bar: close_left_bar;
$close_right_bar: close_right_bar;
$close_right_bar_text: close_right_bar_text;
$move_bottom_z: move_bottom_z;
$move_top_z: move_top_z;