.uninorte_logo {
  background: url(../../../public/assets/uninorte_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.udemy_logo {
  background: url(../../../public/assets/udemy_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}