@import "../utilities/index.scss";
.image_container{
  .profile_image {
    @include box(100px, 100px, url("../../../public/assets/profile_image.png"));
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: 5px solid #333333;
  }
}

@media (max-width: 600px) {
  .image_container {
    align-self: center;
    width: 100px;
    height: 100px;
  }
}
