@import "../utilities/index.scss";

.page {
  @include box(100%, 100vh);
  @include flex-content(column, auto, auto, 10px);
  position: relative;
  padding: 2% 3% 2% calc(50px + 3%);
  z-index: 1;
}

.page_light {
  @extend .page;
  background: $light_color;
}

.page_dark {
  @extend .page;
  background: $dark_color;
}

.scroll_y {
  justify-content: flex-start;
  overflow-y: scroll;
  position: relative;
  &::-webkit-scrollbar{
    opacity: 0;
  }
}
