@import "../utilities/index.scss";

.page {
  @include box(100%, 100vh);
  @include flex-content(column, auto, auto);
  padding: 2% 3% 2% 8%;
  z-index: 1;
}

.page_light {
  @extend .page;
  background: $light_color;
}

.page_dark {
  @extend .page;
  background: $dark_color;
}

.scroll_y {
  overflow: auto;
  justify-content: flex-start;
  padding-top: 20px;
}
