.container_circle {
  @include flex-content(column, null, null, 10px);
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  max-height: 40px;
  transition: max-height 1s ease;
  &.expanded{
    max-height: 500px;
    transition: max-height 1s ease;
  }
}
