@keyframes open_left_bar {
  0% {
    left: -15%;
  }
  100% {
    left: 0%;
  }
}

@keyframes close_left_bar {
  0% {
    left: 0%;
  }
  100% {
    left: -15%;
  }
}

@keyframes move_bottom_z{
  0% {
    z-index: 10;
  }
  50%{
    z-index: 10;
  }
  100%{
    z-index: 1;
  }
}

@keyframes move_top_z{
  0% {
    z-index: 1;
  }
  50%{
    z-index: 10;
  }
  100%{
    z-index: 10;
  }
}