@keyframes open_left_bar {
  0% {
    left: -40%;
  }
  100% {
    left: 0%;
  }
}

@keyframes open_right_bar {
  0% {
    right: -40%;
  }
  100% {
    right: 0%;
  }
}

@keyframes open_right_bar_text {
  0% {
    display: none;
    opacity: 0;
  }
  50%{
    display: none;
  }
  75%{
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes close_left_bar {
  0% {
    left: 0%;
  }
  100% {
    left: -40%;
  }
}

@keyframes close_right_bar {
  0% {
    right: 0%;
  }
  100% {
    right: -40%;
  }
}

@keyframes close_right_bar_text {
  0% {
    display: flex;
    opacity: 1;
  }
  50%{
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
