@keyframes open_left_bar {
  0% {
    left: -250px;
  }
  100% {
    left: 0%;
  }
}

@keyframes close_left_bar {
  0% {
    left: 0%;
  }
  100% {
    left: -250px;
  }
}

@keyframes appear_text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes vanish_text {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes open_sidebar {
  0% {
    top: 95%;
  }
  100% {
    top: 0%;
  }
}

@keyframes close_sidebar {
  0% {
    top: 0%;
  }
  100% {
    top: 95%;
  }
}
