.flex{
  display: flex;
}

.jc{
  justify-content: center;
}

.fc{
  flex-direction: column;
}

@for $i from 1 through $font-sizes {
  .g-#{$i} {
    gap: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .m-#{$i} {
    margin: #{$i}px;
  }
}