@import "../utilities/index.scss";

.title {
  font-family: $SpaceModo_Bold;
  font-size: 20px;
}

.text {
  font-family: $SpaceModo_Regular;
  font-size: 18px;
}

.title_dark {
  @extend .title;
  color: $light_color;
}

.title_light {
  @extend .title;
  color: $dark_color;
}

.text_dark {
  @extend .text;
  color: $light_color;
}

.text_light {
  @extend .text;
  color: $dark_color;
}

.justify {
  text-align: justify;
}

.pointer {
  cursor: pointer;
}

@for $i from 1 through $font-sizes {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}