@font-face {
  font-family: SpaceMono-Bold;
  src: url("../../../public/fonts/SpaceMono-Bold.ttf");
}

@font-face {
  font-family: SpaceMono-BoldItalic;
  src: url("../../../public/fonts/SpaceMono-BoldItalic.ttf");
}

@font-face {
  font-family: SpaceMono-Italic;
  src: url("../../../public/fonts/SpaceMono-Italic.ttf");
}

@font-face {
  font-family: SpaceMono-Regular;
  src: url("../../../public/fonts/SpaceMono-Regular.ttf");
}